<form class="add-form">
    <div class="form-control">
        <label for="name">Superhero</label>
        <input type="text" name="name" id="name" placeholder="Add superhero">
    </div>
    <div class="form-control">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" placeholder="Add first name">
    </div>
    <div class="form-control">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Add last name">
    </div>
    <div class="form-control">
        <label for="place">Place</label>
        <input type="text" name="place" id="place" placeholder="Add place">
    </div>
    <div class="form-control form-control-check">
        <label for="active">Set active</label>
        <input type="checkbox" name="active" id="active">
    </div>
    <input type="submit" value="Save Superhero" class="btn btn-block">
</form>